header {
    background-color:#987a5a;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a {
    text-align: center;
    color: blue;
    text-decoration: none;
    padding: 35px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
   
  }
  
  #mind-box {
    grid-column: 1 / 2;
  }
  
  #mind-msg {
    grid-column: 2 / 3;
    text-align: center;
  }
  
  #mind-img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .home-title {
    font-size: 2rem;
    margin-top: 0;
  }
  
  h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  
  h4 {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  
  .button-box {
    margin-top: 2rem;
  }
  
  .book {
    display: inline-block;
    background-color: #0099ff;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
  }
  
  .book:hover {
    background-color: #0077cc;
  }
  


/* Services section */
section {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 0;
  }
  
  h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .services-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .service {
    width: 30%;
    margin-bottom: 40px;
  }
  
  .service img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .service h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .service p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .service .price {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #f00;
  }

